<section class="leftNagi">
    <ul class="leftBar">
        <a href="/ayarlar/league">
            <li><img src="../img/ball.svg" width="30px" height="30px" alt="Lig Logosu" title="Lig Ayarları"></li>
        </a>
        <a href="/ayarlar/team">
            <li><img src="../img/jersey.svg" width="30px" height="30px" alt="Takım Logosu" title="Takım Ayarları">
            </li>
        </a>
        <a href="/ayarlar/referee">
            <li><img src="../img/referee.svg" width="30px" height="30px" alt="Hakem Logosu" title="Hakem Ayarları">
            </li>
        </a>
        <a href="/ayarlar/fixture">
            <li><img src="../img/calendar.svg" width="30px" height="30px" alt="Fikstür Logosu" title="Fikstür Ayarları">
            </li>
        </a>

    </ul>
</section>