 <nav class="navbar">
        <div class="container">
            <div class="topBar">
                <h1 class="siteName" style="font-size: 0.9em;">hakemata v1.0</h1>
                <div class="settings">
                    <ul class="topBarNoti">
                        <li><i class="fa-solid fa-pen"></i></li>
                        <li><i class="fa-solid fa-bell"></i></li>
                        <li><i class="fa-solid fa-user-large"></i></li>
                    </ul>
                </div>
            </div>
            <div class="lowerBar">
                <ul class="lists">
                    <a href="/"><li id="atamalar" style="background-color:rgb(35, 34, 66);">Atamalar</li></a>
                    <a href="/ayarlar/referee"><li id="ayarlar" style="background-color: rgb(14, 46, 60);">Ayarlar</li></a>
                    <a href="/optimizasyon"><li id="optimizasyon" style="background-color: rgb(19, 19, 35);">Optimizasyon</li></a>
                </ul>
                