<div class="barColor"
    style="background-color: rgb(19, 19, 35); width: 100%; text-align:end; color:white; padding-top:0.5em; padding-right:0.7em; opacity:0.8"></div>
</div>
</div>
<div class="locations">
    <ul class="locationsList">
        <li>Optimizasyon > Ana Sayfa</li>
        <li><i class="fa-solid fa-circle-question"></i></li>
    </ul>
</div>
</nav>
<section class="leftNagi">
    <ul class="leftBar">
        <li style="font-size: 1.33em;"><i class="fa-solid fa-list"></i></li>
        <li><i class="fa-solid fa-house"></i></li>
    </ul>
</section>